<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="mmir-plugin-encoder-speex"
    version="1.0.0">

    <name>MMIR framwork SPEEX encoder</name>

    <keywords>cordova,audio,codec,speex</keywords>

    <description>
      Cordova plugin for the MMIR framework that adds a JavaScript based Speex encoder;
      Uses speex.js (BSD and partially MIT license), see https://github.com/jpemartins/speex.js
    </description>

    <author>russa, DFKI</author>

    <engines>
        <engine name="cordova" version=">=5.0" />
    </engines>

    <dependency id="mmir-plugin-encoder-core" url="https://github.com/mmig/mmir-plugin-encoder-core.git" commit="master" />

    <!-- module implementation for integration into MMIR framework  -->
    <asset
        src="www/webworker/speexEncoder.js"
        target="mmirf/workers/speexEncoder.js" />

    <asset
        src="www/speex.min.js"
        target="mmirf/workers/speex.min.js" />

    <!--
         DEV version (i.e. not minified) of FLAC encoder

         NOTE need to change importScripts() statement in flacEncoder.js
              in order to use this!
     -->
    <!--asset
        src="www/speex.js"
        target="mmirf/workers/speex.js" /-->

</plugin>
